/* CSS Document */

/* ポイント
---------------------------*/

.point01 {
	font-size:16px;
	padding-left:20px;
	background-image:url(../../../common/img/chip_arrow05.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.point02 {
	font-size:16px;
	padding-left:20px;
	background-image:url(../../../common/img/point_doc.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
}

/* フロートエリア
--------------------------*/
#LRarea {
	margin-bottom:20px;
}